﻿@using Sitecore.Mvc;
@using Sitecore.Data.Items;
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions;
@using Sitecore.XA.Foundation.RenderingVariants.Extensions;
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions;
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields;

@model Sitecore.XA.Foundation.RenderingVariants.Models.VariantListsRenderingModel

<div class="info-tiles">
    <div class="info-tiles__content">
        <h2 class="info-tiles__title">@Html.Sitecore().Field("Title")</h2>
        
        @if (Model.Rendering.DataSourceItem == null)
        {
            @Model.MessageIsEmpty
        }
        @if (!Model.Items.Any() && Model.Rendering.DataSourceItem != null)
        {
            using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Feature Empty", Model.IsControlEditable))
            {
                @Model.MessageIsEmpty
            }
        }

        <div class="info-tiles__tiles">
            @foreach (Item item in @Model.Items)
            {
                <div class="info-tiles__tile">
                        @using (Html.Sxa().BeginEditFrame(item.ID.ToString(), "Feature Block", Model.IsControlEditable))
                        {
                            foreach (BaseVariantField variantField in Model.VariantFields)
                            {
                                @Html.RenderingVariants().RenderVariant(variantField, item, Model.RenderingWebEditingParams, Model)
                            }
                        }
                </div>
            }
        </div>
    </div>
</div>